<!DOCTYPE html>
<html>
<%= render 'layouts/application/header' %>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <%= render 'layouts/application/application_top_nav' %>
    <%= render 'layouts/application/left_bar' %>
    <%= render 'layouts/application/modal', id: 'modal' %>

    <div class="right_col" role="main">
      <%= render 'layouts/application/flash_message' %>
      <div data-pjax-container>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<%= render 'conferences/panels/view_all_recs', id: 'modal' %>

</body>
<%= javascript_tag 'initializeApplication()' %>
<%= javascript_tag 'loadApplicationLayout()' %>
</html>

