<!DOCTYPE html>
<html>
  <head>
    <title>NextLec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.pjax' %>
    <script type="text/javascript">
        $(function(){
            $(document).pjax('a', '[data-pjax-container]')
        })
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
