<!DOCTYPE html>
<html>
<% @page_title = 'Home' %>
<%= render 'layouts/home/header' %>

<body>
  <div class="loader"></div>
    <%= render 'layouts/home/welcome' %>
    <%= render 'layouts/home/statistics' %>
    <%= render 'layouts/home/features' %>
    <%= render 'layouts/home/landing' %>
    <%= render 'layouts/home/signup_banner' %>
    <%= render 'layouts/home/footer' %>
  </div>
</body>
<%= javascript_tag 'enablePJAX()' %>

<script>
    if (("onhashchange" in window) && !($.browser.msie)) {
        //modern browsers
        $(window).bind('hashchange', function () {
            window.location.hash = ''
        });
    }
</script>
</html>