<!DOCTYPE html>
<html>
<% @page_title = 'Home' %>
<%= render 'layouts/application/header' %>

<body>
<div class="container nopadding" id="main-container" >
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= link_to 'Home', root_path, class: 'skip-pjax' %>
      <%= link_to 'About', about_home_index_path, class: 'skip-pjax' %>
      <%= link_to 'Features', features_home_index_path, class: 'skip-pjax' %>
      <%= link_to 'Privacy Policy', privacy_policy_home_index_path, class: 'skip-pjax' %>
      <%= link_to 'Terms and Conditions', terms_home_index_path, class: 'skip-pjax' %>
      <% init_error_flash_for_login %>
      <div class="custom-flash-info alert alert-fixed alert-info alert-dismissable" id="error_callout"
           style="opacity: <%= flash[:alert].blank? ? '0' : '1' %>;">

        <button class="close" type="submit" style="position: static; opacity: 1; font-size: 14px;">
          <i class="fa fa-times fa-fw paircon-custom"></i></button>
        <i class="fa fa-info fa-fw paircon-custom"></i>
        <span class="paircon-custom"><%= raw flash[:alert] %></span>
      </div>

      <% flash[:alert] = nil %>
    </div>
  </div>
  <div class="row row-vertical-align main-content-login">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row front-text-middle-align">
        <div class="signin_verticalcenter">
          <div data-pjax-container id="loginbox" style="margin-top: 50px;">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>

<%= javascript_tag 'enablePJAX()' %>

</html>
