<!DOCTYPE html>
<html>
<% @page_title = 'Sign Up' %>
<%= render 'layouts/application/header' %>

<body class="nav-md footer_fixed">

<%= render 'layouts/application/signup_top_nav' %>
<div class="container body footer_fixed signup_container">
  <div class="main_container">

    <div id="main-form" class="form-group">
      <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 full-height">
        <div class="x_panel" style="background: #f7f7f7 !important;">
          <div class="x_content">

            <div id="wizard" class="form_wizard wizard_horizontal display-flex-column full-height">
              <ul class="wizard_steps anchor" style="display: flex;">
                <li class="flex-grow">
                  <a href="#step-1" class="selected" isdone="1" rel="1">
                    <span class="step_no">1</span>
                    <span class="step_descr">Welcome To PairCon<br></span>
                  </a>
                </li>
                <li class="flex-grow">
                  <a href="#step-2" class="selected" isdone="0" rel="2">
                    <span class="step_no">2</span>
                    <span class="step_descr">Personal Information<br></span>
                  </a>
                </li>
                <li class="flex-grow">
                  <a href="#step-3" class="disabled" isdone="0" rel="3">
                    <span class="step_no">3</span>
                    <span class="step_descr">Profile Picture<br></span>
                  </a>
                </li>
              </ul>
              <div class="stepContainer full-height">
                <div id="step-1" class="content full-height display-flex-column" style="display: none;">
                  <div class="flex-autoresize-middle flex-y-scroll user_registration_buffer">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h1 class="text-center">Welcome To PairCon!</h1>
                        <h3 class="text-center">Thanks for signing up! We'll guide you through your user
                          profile set-up so that you can get started. </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <%= image_tag 'people.png', style: 'height: 500px; margin-top: 20px;' %>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="step-2" class="content full-height display-flex-column" style="display: none;">
                  <%= form_for(@user, html: {id: 'new_user_registration', class: 'user_registration_form flex-autoresize-middle flex-y-scroll', multipart: true}) do |f| %>
                      <%= hidden_field_tag :referer, params[:referer] %>
                      <h1 class="text-center">Personal Information</h1>
                      <h3 class="text-center">Fields marked with <span class="required">*</span> are required.</h3>
                      <div class="row signup-row" id="user_form_row">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
                          <div style="margin-top: 0px;" class="signin_verticalcenter">
                            <h3 class="input-label">Name <span class="required">*</span></h3>

                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= f.text_field :first_name, placeholder: 'First Name',
                                                 class: 'form-control form-signup-control', id: 'first_name' %>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <%= f.text_field :last_name, placeholder: 'Last Name',
                                                 class: 'form-control form-signup-control', id: 'last_name' %>
                              </div>
                            </div>

                            <h3 class="input-label signup-input-label">Email Address <span class="required">*</span>
                            </h3>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.text_field :email, placeholder: 'Email Address',
                                                 :class => 'form-control form-signup-control', disabled: 'disabled', style: 'opacity: 0.5' %>
                              </div>
                            </div>

                            <% unless Identity.find_by_user_id(current_user.id).nil? %>
                                <h3 class="input-label signup-input-label">Password <span class="required">*</span></h3>
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.password_field :password, :autocomplete => 'true', :class => 'form-control', placeholder: "Password" %>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.password_field :password_confirmation, :autocomplete => 'true', :class => 'form-control', placeholder: "Confirm Password" %>
                                  </div>
                                </div>
                            <% end %>

                            <h3 class="input-label signup-input-label">Gender <span class="required">*</span></h3>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.select :gender, [['Male', 1], ['Female', 0]], {}, :class => 'form-control form-signup-control' %>
                              </div>
                            </div>

                            <h3 class="input-label signup-input-label">Academic Profile</h3>
                            <p class="input-label">Link your academic profile page with publications
                              listed. We'll use this list of publications to compute personalized recommendations.</p>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.text_field :url, :id => 'url', placeholder: 'URL', :class => 'form-control form-signup-control' %>
                              </div>
                            </div>

                            <h3 class="input-label signup-input-label">Phone Number</h3>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.text_field :phone_number, :id => 'phoneNumber', placeholder: 'Phone Number', :class => 'form-control form-signup-control' %>
                              </div>
                            </div>

                            <h3 class="input-label signup-input-label">Organization</h3>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.text_field :organization, :id => 'userOrganization', placeholder: 'Organization', :class => 'form-control form-signup-control' %>
                              </div>
                            </div>

                            <h3 class="input-label signup-input-label">Industry</h3>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.text_field :industry, :id => 'userIndustry', placeholder: 'Industry', :class => 'form-control form-signup-control' %>
                              </div>
                            </div>

                            <h3 class="input-label signup-input-label">Graduation Year</h3>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= f.select :grad_year, ((Time.zone.now.year - 150)..(Time.zone.now.year + 1)).to_a.reverse, {}, :id => 'userGradYear', placeholder: 'Graduation Year', :class => 'form-control form-signup-control', value: '' %>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      </div>
                      <div id="step-3" class="content full-height display-flex-column" style="display: none;">
                        <div class="flex-autoresize-middle flex-y-scroll user_registration_buffer">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <h1 class="text-center">Profile Picture</h1>
                              <h3 class="text-center">Upload a profile picture and accept our
                                <strong><a href="<%= terms_home_index_url %>" target="_blank">Terms of Use
                                </a></strong> and
                                <strong><a href="<%= privacy_policy_home_index_url %>" target="_blank">
                                  Privacy Policy</a></strong>.</h3>
                            </div>
                          </div>
                          <div class="row" style="margin-top:20px;">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <div class="profile-image dropzone " data-resize="true" data-width="300" data-height="300"
                                   data-url="<%= save_logo_user_url(current_user) %>" data-image="<%= asset_path(current_user.profile_photo) %>"
                                   data-removeurl="<%= destroy_logo_user_url(current_user) %>">

                                <input class="invisible" id="profile-image-upload" type="file" name="thumb" accept="image/*"/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <button id="upload_image_btn"
                                      class="btn btn-paircon btn-label btn-profile btn-padding" style="margin-top:20px;">
                                <i class="fa fa-upload"></i> Upload Image
                              </button>
                            </div>
                          </div>

                          <div class="row" style="margin-top: 50px;">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <input type="checkbox" class="checkbox-center" id="termsConditionCheckbox">
                              &ensp;&ensp;I have <strong>Read</strong> and <strong>Agree</strong> to PairCon's
                              <strong><a href="<%= terms_home_index_url %>" target="_blank">Terms of
                                Use</a></strong>
                              and
                              <strong><a href="<%= privacy_policy_home_index_url %>" target="_blank">Privacy
                                Policy</a></strong>.
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                  </div>
            </div>
          </div>

          <div class="row" id="finalstep" style="display: none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="margin-top: 50px;">
                <h1 class="text-center">Please wait while we set up your PairCon account</h1>
                <div class="cssload-thecube" style="margin-top: 30px;">
                  <div class="cssload-cube cssload-c1"></div>
                  <div class="cssload-cube cssload-c2"></div>
                  <div class="cssload-cube cssload-c4"></div>
                  <div class="cssload-cube cssload-c3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%= render 'layouts/application/footer' %>

<%= javascript_tag 'initSignup()' %>

</body>
</html>