

<div class="x_panel">
            <div class="x_title">
              <h3>My Conferences</h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <% if @conferences_attendee_list.length ==0 and @conferences_organizer_list.length ==0 %>
                  <div style="width: 100%; text-align: center; font-style: italic;">
                    <br/>
                    <br/>
                    <br/>
                    <%= image_tag 'sad.png' %>
                    <div style="margin-top: 30px;">You are not attending any conference</div>
                  </div>
                  <% elsif @conferences_attendee_list.length>0 %>
                  <h3>ATTENDING </h3>
                  <ul  class="to_do">
                    <% @conferences_attendee_list[0..@conferences_attendee_list.length].each do |conference| %>
                        <li>
                          <a id="<%= "organizing_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
                        </li>
                    <% end %>
                  </ul>
                  </div>

                  <% end %>

                  <%if @conferences_organizer_list.length !=0 %>
                      <div >
                        <h3>ORGANIZING </h3>
                        <ul  class="to_do">
                          <% @conferences_organizer_list[0..@conferences_organizer_list.length].each do |conference| %>
                              <li>
                               <a id="<%= "organizing_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
                              </li>
                          <% end %>
                        </ul>
                      </div>

              <% end %>

            </div>
</div>

