<div class="x_panel">
  <div class="x_title">
    <h3>My Conferences
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>
    <div class="clearfix"></div>
  </div>
  <div id = conferences_dash class="x_content">
    <% if @conferences_attendee_list.length ==0 and @conferences_organizer_list.length ==0 %>
        <div style="width: 100%; text-align: center; font-style: italic;">
          <br/>
          <br/>
          <br/>
          <%= image_tag 'sad.png' %>
          <div style="margin-top: 30px;">You are not attending any conferences</div>
        </div>
    <% elsif @conferences_attendee_list.length>0 %>
        <h3>ATTENDING </h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Conference Name</th>
            <th>Start Date</th>
            <th>End date</th>
            <th> Location</th>
          </tr>
          </thead>
          <tbody>
          <% @conferences_attendee_list[0..@conferences_attendee_list.length].each do |conference| %>
              <tr>
               <td> <a id="<%= "organizing_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
               </td>
                <td>
                <p><%= conference.start_date_str() %> </p>
                </td>
                <td>
                  <p><%= conference.end_date_str() %> </p>
                </td>
                <td>
                  <p><%= conference.location() %> </p>
                </td>
              </tr>

          <% end %>
          </tbody>
        </table>
    <% end %>

    <% if @conferences_organizer_list.length !=0 %>
        <div>
          <h3>ORGANIZING </h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Conference Name</th>
              <th>Start Date</th>
              <th>End date</th>
              <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <% @conferences_organizer_list[0..@conferences_organizer_list.length].each do |conference| %>
                <tr>
                  <td> <a id="<%= "organizing_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
                  </td>
                  <td>
                    <p><%= conference.start_date_str() %> </p>
                  </td>
                  <td>
                    <p><%= conference.end_date_str() %> </p>
                  </td>
                  <td>
                    <p><%= conference.location() %> </p>
                  </td>
                </tr>
            <% end %>
        </table>
      </div>
    <% end %>
    </div>
</div>

