<div class="row">
  <div class="col-md-3 col-xs-6 col-sm-3" style="padding-left: 5px; padding-right: 5px;">
    <div class="info-tiles tiles-toyo">
      <div class="tiles-heading">Next Upcoming Conference</div>
      <div class="tiles-body-alt">
        <i class="fa fa-calendar"></i>
        <a href="<%= @summary[:next_conference][:object].nil? ? '#' : conference_path(@summary[:next_conference][:object]) %>" class="text-center tile-header" id="upcomingConferenceHeader"></a>
        <small class="tile-body" id="upcomingConferenceBody"></small>
      </div>
      <div class="tiles-footer tile-footer" id="upcomingConferenceFooter"></div>
    </div>
  </div>
  <div class="col-md-3 col-xs-6 col-sm-3" style="padding-left: 5px; padding-right: 5px;">
    <div class="info-tiles tiles-success">
      <div class="tiles-heading">Recommended Read</div>
      <div class="tiles-body-alt">
        <i class="fa fa-file-text-o"></i>
        <a href="<%= @summary[:recommended_similarity][:paper_exists] ? pdf.full_path(file: @summary[:recommended_similarity][:object].conference_paper.paper.pdf.url) : '#' %>" target="_blank" class="text-center tile-header" id="recommendedConferenceHeader"></a>
        <small class="tile-body" id="recommendedConferenceBody"></small>
      </div>
      <div class="tiles-footer tile-footer">
        <a href="<%= @summary[:recommended_similarity][:paper_exists] ? conference_path(@summary[:recommended_similarity][:object].conference_paper.conference) : '#' %>" id="recommendedConferenceFooter"></a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-6 col-sm-3" style="padding-left: 5px; padding-right: 5px;">
    <div class="info-tiles tiles-orange">
      <div class="tiles-heading">Most Popular Conference</div>
      <div class="tiles-body-alt">
        <i class="fa fa-users"></i>
        <a href="<%= @summary[:popular_conference][:object].nil? ? '#' : conference_path(@summary[:popular_conference][:object]) %>" class="text-center tile-header" id="popularConferenceHeader"></a>
        <small class="tile-body" id="popularConferenceBody"></small>
      </div>
      <div class="tiles-footer tile-footer" id="popularConferenceFooter"></div>
    </div>
  </div>
  <div class="col-md-3 col-xs-6 col-sm-3" style="padding-left: 5px; padding-right: 5px;">
    <div class="info-tiles tiles-alizarin">
      <div class="tiles-heading">Recommendations</div>
      <div class="tiles-body-alt">
        <i class="fa fa-thumbs-o-up"></i>
        <div class="text-center tile-header" id="totalRecommendationsHeader"></div>
        <small class="tile-body" id="totalRecommendationsBody"></small>
      </div>
      <div class="tiles-footer tile-footer" id="totalRecommendationsFooter"></div>
    </div>
  </div>
</div>

<%= javascript_tag "changeTiles('" + @summary[:next_conference][:name] + "', '" + @summary[:next_conference][:date] + "', '" + @summary[:next_conference][:location] + "', '" + @summary[:recommended_similarity][:paper_name] + "', '" + @summary[:recommended_similarity][:paper_author] + "', '" + @summary[:recommended_similarity][:conference_name] + "', '" + @summary[:popular_conference][:name] + "', '" + @summary[:popular_conference][:date] + "', '" + @summary[:popular_conference][:count]+ "', '" + @summary[:total_recommendations][:count] + "', '" + 'Recommendations Generated' + "', '" + @summary[:total_recommendations][:good_recommendations] + "')" %>