<%= header_title 'Dashboard' %>

<div id="page-heading">
  <%= page_title 'Dashboard' %>
  <div class="btn-toolbar heading-btn">
    <div class="btn-group ">
      <% class_name = 'btn btn-paircon btn-disabled refresh_publication_disabled left-buffer publication_button' %>
      <% spin = false %>
      <% if @user.is_scraped %> <!-- If no scraping job is running -->
          <% type = 'scraped' %>
          <% class_name = 'btn btn-paircon refresh_publication left-buffer publication_button' %>
      <% elsif @user.url.blank? %> <!-- If user has no URL (disable) -->
          <% type = 'no-url' %>
      <% else %>
          <% type = 'running' %>
          <% spin = true %>
      <% end %>

      <span class="tooltip-wrapper text-center">
        <a class="<%= class_name %>" data-type="<%= type %>">
         <i class="fa fa-refresh fa-lg <%= 'fa-spin' if spin %>" aria-hidden="true"></i>
        </a>
      </span>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= render 'summary_panel' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <%= render 'notifications_list' %>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <%= render 'upcoming_events' %>
    </div>
  </div>

</div>


<%= javascript_tag "refreshProfileUrl('" + current_user.id.to_s + "')" %>