<%= header_title 'Dashboard' %>

<div class="container">
  <div class="row" id="dash_heading_equal">
    <div id="page-heading" class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
      <%= page_title 'Dashboard' %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center" style="margin:auto;">
      <% if @user.is_scraped %> <!-- If a scraping job is running -->
          <button class="refresh_publication refresh_url_dash_button btn btn-paircon">Refresh Publication List</button>
      <% elsif !@user.papers.blank? %> <!-- If the user has no papers -->
          <button class="refresh_publication refresh_url_dash_button btn btn-paircon">Refresh Publication List</button>
      <% else %>
          <span class="tooltip-wrapper text-center" data-toggle="tooltip" data-placement="bottom" title = "Please wait while your publication list is refreshing">
            <button class="refresh_publication_disabled refresh_url_dash_button btn btn-paircon disabled">Refresh Publication List</button>
          </span>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render '/home/conferences_list' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <%= render '/home/notifications_list' %>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <%= render '/home/upcoming_events' %>
      </div>
    </div>
</div>
<%= javascript_tag "refreshProfileUrl()" %>