<div id="page-heading">
  <%= header_title "Search" %>

  <% title = "Search Results For '#{params[:search_val]}'" %>

  <div class="x_panel">
  <div class="x_title">
    <h3>Search Results
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="display table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline">
      <thead>
      <tr role="row">
        <th>Conference Name</th>
        <th>Conference Location</th>
        <th>Conference Domain</th>
      </tr>
      </thead>
      <tbody>
      <% @conferences.each do |conference| %>
          <tr>
            <td><%= conference.name %></td>
            <td><%= conference.location %></td>
            <td><%= conference.domain.blank? ? 'N/A' : organizer.domain %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_tag 'initializeSearch()' %>
</div>