<% head_btn_class = 'pull-left header-button btn btn-toolbar btn-default header_btns header-font-small ' %>

<div class="top_nav">
  <div class="nav_menu display-flex" style="margin-bottom: 0px; width: 100%;">
    <nav class="flex-grow">
      <div class="nav navbar-paircon">
        <!-- Toggle menu -->
        <div class="nav toggle" style="margin-top: -5px;">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Add new conference -->
        <div>
          &nbsp;<%= link_to_modal icon_text('plus-circle', 'Create Conference'), new_conference_path(), class: head_btn_class, 'data-appear-animation': 'bounceIn' %>
        </div>
        <!-- Search bar -->
        <div class="pull-left header-button btn btn-toolbar btn-default header_btns header-font-small "><i class="fa fa-search" aria-hidden="true"></i></div> 
        <div class="top-nav-search-bar">
          <%= form_tag search_home_index_path, method: 'GET', data: {pjax: true} do %>
              <input class="form-control" id="search_val" name="search_val" value="<%= params[:search_val] %>" placeholder="Search for..." type="text">
          <% end %>
        </div>
        <!-- User dropdown -->
        <div>
          <ul id="user-dropdown" class="nav navbar-nav navbar-right pull-right navbar-user">
            <li>
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="<%= asset_path(current_user.profile_photo) %>" id="userimage" alt=""><span id="username"><%= current_user.full_name %></span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li>
                  <% if current_user.attendee? and !current_user.pending_organizer %>
                      <a data-toggle="modal" data-target="#modal" data-backdrop="static" href="<%= become_organizer_user_path(current_user.id) %>">Become
                        an Organizer
                        <i class="pull-right fa fa-users dropdown-user-icons"></i>
                      </a>
                  <% elsif current_user.attendee? and current_user.pending_organizer %>
                      <a href="#" class="disabled">Your Organizer Request is Pending</a>
                  <% end %>
                </li>
                <li><a href="<%= user_path(current_user) %>">Settings
                  <i class="pull-right fa fa-cog dropdown-user-icons"></i>
                </a></li>
                <li><a href="<%= PairConConfig::url[:support] %>" target="_blank">Feedback
                  <i class="pull-right fa fa-comments dropdown-user-icons"></i></a>
                </li>
                <li><a href="<%= PairConConfig::url[:help] %>" target="_blank">Help
                  <i class="pull-right fa fa-question-circle dropdown-user-icons"></i></a>
                </li>
                <li class="divider"></li>
                <li>
                  <a id="logout_link" rel="nofollow" data-method="delete" href="<%= destroy_user_session_url(:protocol => "#{Rails.env.production? ? 'https://' : 'http://'}") %>">Logout
                    <i class="fa fa-sign-out pull-right dropdown-user-icons"></i></a>
                </li>
              </ul>
            </li>
            <!-- FOR NOTIFICATION -->
            <li class="dropdown" tabindex="5006" id="notification_panel"></li>
            <!-- END -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<% if current_user.attendee? %>
    <script>$('.header_btns').hide();</script>
<% end %>