<% head_btn_class = 'pull-left header-button btn btn-toolbar btn-default header_btns header-font-small ' %>

<div class="top_nav">
  <div class="nav_menu display-flex" style="margin-bottom: 0px; width: 100%;">
    <nav class="flex-grow">
      <div class="nav navbar-paircon">
        <div class="nav toggle" style="margin-top: -5px;">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <div>
          &nbsp;<%= link_to_modal icon_text('plus-circle', 'Create Conference'), new_conference_path(), class: head_btn_class, 'data-appear-animation': 'bounceIn' %>
        </div>
        <!--<form class="navbar-form navbar-left">-->
        <!--<div class="input-group" id = "conf-searchbar">-->
        <!--<input type="text" class="form-control" placeholder="Search for Conferences..." size="35">-->
        <!--<span class="input-group-btn"><button type="submit" class="btn btn-primary">Submit</button></span>-->
        <!--</div>-->
        <!--</form>-->
        <ul id="user-dropdown" class="nav navbar-nav navbar-right pull-right navbar-user">
          <li>
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="<%= asset_path(current_user.profile_photo) %>" id="userimage" alt=""><span id="username"><%= current_user.full_name %></span>
              <i class=" fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li>
                <% if current_user.attendee? and !current_user.pending_organizer %>
                    <a data-toggle="modal" data-target="#modal" data-backdrop="static" href="<%= become_organizer_user_path(current_user.id) %>">Become
                      an Organizer
                      <i class="pull-right fa fa-users dropdown-user-icons"></i>
                    </a>
                <% elsif current_user.attendee? and current_user.pending_organizer %>
                    <a href="#" class="disabled">Your Organizer Request is Pending</a>
                <% end %>
              </li>
              <li><a href="<%= user_path(current_user) %>">Settings
                <i class="pull-right fa fa-cog dropdown-user-icons"></i>
              </a></li>
              <li><a href="<%= PairConConfig::url['feedback'] %>" target="_blank">Feedback
                <i class="pull-right fa fa-comments dropdown-user-icons"></i></a>
              </li>
              <li><a href="<%= PairConConfig::url['help'] %>" target="_blank">Help
                <i class="pull-right fa fa-question-circle dropdown-user-icons"></i></a>
              </li>
              <li class="divider"></li>
              <li>
                <a id="logout_link" rel="nofollow" data-method="delete" href="<%= destroy_user_session_url(:protocol => "#{Rails.env.production? ? 'https://' : 'http://'}") %>">Logout
                  <i class="fa fa-sign-out pull-right dropdown-user-icons"></i></a>
              </li>
            </ul>
          </li>
          <!-- FOR NOTIFICATION -->
          <li class="dropdown" tabindex="5006" id="notification_panel"></li>
          <!-- END -->
        </ul>
      </div>
    </nav>
  </div>
</div>

<% if current_user.attendee? %>
    <script>$('.header_btns').hide();</script>
<% end %>