<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="<%= root_path() %>" class="site_title navbar-brand">
        <%= image_tag 'Top-Header-notext.png', alt: '', class: 'navbar-image', style: 'margin-left: 5px; height: 30px; display: inline-block;' %>
        <h2 style="display: inline;">PAIR<span class="logo-dec">CON</span></h2>
      </a>
    </div>

    <div class="clearfix"></div>

    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="<%= asset_path(current_user.profile_photo) %>" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><%= truncate current_user.last_name, :length => 9, :separator => ' ' if current_user %></h2>
      </div>
    </div>

    <br/>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>DASHBOARD</h3>
        <ul class="nav side-menu">
          <li><a href="<%= root_path %>">Home</a></li>
        </ul>
      </div>

      <% i = 1 %>
      <% attending = Conference.my_attending_conferences_active(current_user) %>
      <% if attending.length != 0 %>
          <div class="menu_section">
            <h3>ATTENDING<span class="pull-right"><%= link_to icon_text('plus-circle'), conferences_path(view: 'attendee'), class: 'light-grey-text', style: 'margin-right: 5px;' %></span>
            </h3>
            <ul class="nav side-menu">
              <% attending[0..5].each do |conference| %>
                  <li>
                    <a id="<%= "attending_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name(i) %></a>
                  </li>
                  <% i = i + 1 %>
              <% end %>
            </ul>
          </div>
      <% end %>

      <% unless current_user.attendee? %>
          <% organizing = Conference.my_organizing_conferences_active(current_user) %>
          <% if organizing.length != 0 %>
              <div class="menu_section">
                <h3>ORGANIZING<span class="pull-right"><%= link_to icon_text('plus-circle'), conferences_path(view: 'organizer'), class: 'light-grey-text', style: 'margin-right: 5px;' %></span>
                </h3>
                <ul class="nav side-menu">
                  <% organizing[0..5].each do |conference| %>
                      <li>

                        <a id="<%= "organizing_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name(i) %></a>
                      </li>
                      <% i = i + 1 %>
                  <% end %>
                </ul>
              </div>
          <% end %>
      <% end %>
    </div>


  </div>
</div>

<div class="sidebar-footer hidden-small text-center" style="margin-bottom: 10px;">
  <small>Copyright © 2017 Paircon. All rights reserved</small>
</div>