<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <% if @is_organizer %>
        <div class="profile-image dropzone cover-photo" data-height="250"
             data-url="<%= save_cover_conference_url(@conference) %>" <%= "data-image=#{asset_path(@conference.cover_photo)}" unless @conference.cover.blank? %>
             data-removeurl="<%= destroy_cover_conference_url(@conference) %>">
          <input class="invisible" class="image-upload" id="cover-image-upload" type="file" name="thumb" accept="image/*"/>
        </div>
    <% else %>
        <% if @conference.cover.blank? %>
            <div class="profile-image dropzone static cover-photo"></div>
        <% else %>
            <%= image_tag @conference.cover.url, class: 'profile-image dropzone static cover-photo' %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -175px; padding-left: 50px; z-index: 100">
    <div class="display-flex-row" style="align-items: center; <%= 'justify-content: center; flex-flow: column;' if is_mobile_device? %>">
      <% if @is_organizer %>
          <div class="profile-image dropzone" data-resize="false" data-width="200" data-height="200"
               data-url="<%= save_logo_conference_url(@conference) %>" <%= "data-image=#{asset_path(@conference.logo_picture)}" unless @conference.logo.blank? %>
               data-removeurl="<%= destroy_logo_conference_url(@conference) %>">
            <input class="invisible" class="image-upload" id="logo-image-upload" type="file" name="thumb" accept="image/*"/>
          </div>
      <% else %>
          <% if @conference.logo.blank? %>
              <div class="profile-image dropzone static conference-logo paircon-logo"></div>
          <% else %>
              <%= image_tag @conference.logo.url, class: 'profile-image dropzone static conference-logo' %>
          <% end %>
      <% end %>

      <div style="margin-left:30px; margin-right: 30px;" class="flex-grow">
        <h1>
          <% if @is_organizer %>
              <%= best_in_place @conference, :name, as: :input, place_holder: "&lt;&lt;Conference Name&gt;&gt;" %>
          <% else %>
              <%= @conference.get_name %>
          <% end %>
        </h1>
        <% if (@is_organizer or !@conference.domain.blank?) %>
            <h3>
          <span><%= icon_text('tag fa-lg', '') %>
            <%= best_in_place_if @is_organizer, @conference, :domain, as: :input, place_holder: "&lt;&lt;Conference Domain&gt;&gt;" %>
          </span>
            </h3>
        <% end %>
      </div>
      <div class="btn-group" style="padding-left:50px; padding-right: 50px;">
        <% if user_signed_in? %>
            <a class="btn btn-paircon" onclick="document.getElementById('interested').click()"><%= @conference.conference_attendees.where(user_id: current_user.id).blank? ? 'Follow' : 'Stop Following' %></a>
            <button type="button" class="btn btn-paircon dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
        <% else %>
            <a data-no-pjax href="<%= new_user_session_url(anchor: 'main-header') %>" target="_blank" class="btn btn-paircon">Join
              Paircon!</a>
        <% end %>

        <%= form_for @conference, url: attend_conference_conference_path(), method: :post do |f| %>
            <%= f.submit '', id: 'interested', class: 'hidden' %>
        <% end %>

        <ul class="dropdown-menu" role="menu">
          <% unless @conference.url.blank? %>
              <li>
                <%= link_to icon_text('pull-right globe dropdown-user-icons', 'Website'), conference_path(@conference) %>
              </li>
              <li class="divider"></li>
          <% else %>
              <li><a href="#" onclick="document.getElementById('about_panel').click()">About<i class="pull-right fa fa-info dropdown-user-icons"></i></a>
              </li>
          <% end %>

          <% if @is_organizer %>
              <li><%= form_for @conference do |f| %>
                    <%= f.hidden_field :redirect, value: true %>
                    <%= f.hidden_field :publish, value: !@conference.publish %>
                    <div class="form_toggle_button">
                      <%= f.submit @conference.publish? ? 'Hide' : 'Publish' %>
                      <i class="pull-right fa fa-users dropdown-user-icons"></i>
                    </div>
                <% end %> </li>
              <li><%= form_for @conference do |f| %>
                    <%= f.hidden_field :redirect, value: true %>
                    <%= f.hidden_field :archive, value: !@conference.archive %>
                    <div class="form_toggle_button">
                      <%= f.submit @conference.archive? ? 'Restore' : 'Archive' %>
                      <i class="pull-right fa fa-archive dropdown-user-icons"></i>
                    </div>
                <% end %> </li>
              <li>
                <a data-toggle="modal" data-target="#modal" data-backdrop="static" href="<%= delete_conference_path(@conference.id) %>">Delete
                  <i class="pull-right fa fa-trash dropdown-user-icons"></i>
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag 'initializeHeader()' %>