<%= header_title @title %>
<% page_title @title %>

<div id="page-heading">
  <h1 class="font-light"><%= @title %></h1>
  <hr />
</div>
<div class="clearfix"></div>
<table class="table paircon-table table-condensed table-responsive dataTable">
  <thead>
  <tr role="row">
    <th>Conference Name</th>
    <th>Location</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @conferences_published.each do |conference| %>
      <tr>
        <td> <a id="<%= "attending_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
        </td>
        <td>
          <p><%= conference.location() %> </p>
        </td>
        <td>
          <p>Published</p>
        </td>
      </tr>
  <% end %>
  <% @conferences_active.each do |conference| %>
      <tr>
        <td> <a id="<%= "attending_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
        </td>
        <td>
          <p><%= conference.location() %> </p>
        </td>
        <td>
          <p>Active</p>
        </td>
      </tr>
  <% end %>
  <% @conferences_active.each do |conference| %>
      <tr>
        <td> <a id="<%= "attending_conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
        </td>
        <td>
          <p><%= conference.location() %> </p>
        </td>
        <td>
          <p>Archived</p>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= javascript_tag "initializeAdmin(#{@conf_length})" %>