<%= header_title @title %>
<% page_title @title %>

<div id="page-heading">
  <h1 class="font-light"><%= @title %></h1>
  <hr />
</div>
<div class="clearfix"></div>
<table class="table paircon-table table-condensed table-responsive dataTable">
  <thead>
  <tr role="row">
    <th class="no-sort" width="10px"></th>
    <th>Conference Name</th>
    <th>Conference Domain</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Conference Location</th>
  </tr>
  </thead>
  <tbody>
 <% @conferences_all.each do |conference| %>
      <% if conference.archive() ==true %>
          <tr class="archived" >
         <td><i class="fa fa-archive"></i>   </td>
        <%else%>
        <tr>
         <td><i class="fa fa-users"></i> </td>
       <%end%>
      <td><%= link_to conference.get_name, conference_path(conference) %></td>
      <td><%= conference.domain.blank? ? 'N/A' : conference.domain %></td>
      <td><%= conference.start_date_str %></td>
      <td><%= conference.end_date_str %></td>
      <td><%= conference.location.blank? ? 'N/A' : conference.location %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= javascript_tag "initializeViewAllConferences(#{@conf_length})" %>

