<%= header_title @title %>
<% page_title @title %>

<div id="page-heading">
  <h1 class="font-light"><%= @title %></h1>
  <hr />
</div>
<div class="clearfix"></div>
<table class="table paircon-table table-condensed table-responsive dataTable">
  <thead>
  <tr role="row">
    <th>Conference Name</th>
    <th>Location</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
 <% @conferences_archive.each do |conference| %>
      <tr  <% if conference.archive() ==true %> class="archived" <% end %> >
        <td> <a id="<%= "conference_#{conference.id}" %>" href="<%= conference_path(conference) %>"><%= conference.get_name() %></a>
        </td>
        <td>
          <p><%= conference.location() %> </p>
        </td>
        <td>
          <% if conference.archive() ==true %>
              <p>Archived</p>
              <% else %>
              <p> Active </p>
          <%end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= javascript_tag "initializeAdmin(#{@conf_length})" %>