<%= button_to "Home Page" , root_path(), method: :get %>
<%= button_to "New Conference" , new_conference_path(), method: :get %>
<br/>
<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @conferences.each do |conference| %>
        <div class="col-xs-12">
          <div class="text-center">
            <h2><%= conference.name %></h2>
            <h6><%= conference.start_date %></h6>
            <h6><%= conference.end_date %></h6>
            <h6><%= conference.location %></h6>
            <h6><%= conference.url %></h6>
          </div>
          <div class="text-center">
            <%= link_to "READ MORE", conference_path(conference) %>
          </div>
          <div class="text-center">
            <%= button_to "EDIT", edit_conference_path(conference), method: :get %>
          </div>
          <br>
        </div>
    <% end %>
  </div>
</div>