<%= button_to "Conferences" , conferences_path(), method: :get %>
<br/>

<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @conference.name %></h2>
  <h5 class="text-center"><%= @conference.start_date %></h5>
  <h5 class="text-center"><%= @conference.end_date %></h5>
  <h5 class="text-center"><%= @conference.url %></h5>
  <h5 class="text-center"><%= @conference.location %></h5>
</div>