<%= header_title @conference.get_name %>

<%= render 'header' %>

<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <ul class="nav nav-tabs tabs-left">
      <li class="active"><span class="conference_left_item tab_ajax" data-toggle="tab" id="home">Home</span></li>

      <% if @is_organizer or (!@is_organizer and @post_count != 0) %>
          <li><span class="conference_left_item tab_ajax" id="posts" data-toggle="tab">Posts</span></li>
      <% end %>

      <% if user_signed_in? %>
          <li>
            <span class="conference_left_item tab_ajax" data-toggle="tab" id="recommendations" data-toggle="tab">Recommendations</span>
          </li>
      <% end %>
      <li>
        <span class="conference_left_item tab_ajax" id="papers" data-toggle="tab">Papers
          <% if @is_organizer %>
            <span class="dropdown pull-right">
              <span class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></span>
              <ul class="dropdown-menu" role="menu">

                <!-- TODO : ADD csv upload link -->
                <li><%= link_to_modal 'Add Paper', new_paper_path(conference_id: @conference.id) %></li>
              </ul>
            </span>
          <% end %>
        </span>
      </li>

      <% if @is_organizer or (!@is_organizer and @total_resources != 0 and @total_events != 0) %>
          <li>
            <span class="conference_left_item tab_ajax" id="schedule" data-toggle="tab">Schedule
              <% if @is_organizer %>
                  <span class="dropdown pull-right">
                    <span class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></span>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <%= link_to_modal 'Add Multiple Events / Papers', bulk_upload_conference_path(conference_id: @conference.id) %>
                      </li>
                      <hr style="margin-top: 5px; margin-bottom: 5px;"/>
                      <li><%= link_to_modal 'Add Event', new_resource_schedules_path(conference_id: @conference.id, view: 'event') %></li>
                      <li><%= link_to_modal 'Add Session', new_resource_schedules_path(conference_id: @conference.id, view: 'session') %></li>
                    </ul>
                  </span>
                <% end %>
            </span>
          </li>

      <% end %>

      <li><span class="conference_left_item tab_ajax" id="about_panel" data-toggle="tab">About</span></li>
      <hr/>
      <% if @is_organizer %>
          <li><%= link_to_modal 'Create Conference', new_conference_path() %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div id="spinner">
      <h1 class="text-center">Loading ...</h1>
      <div class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
      </div>
    </div>

    <div class="tab-content">
      <div id="content"></div>
    </div>

  </div>
</div>

<%= javascript_tag "initializeTabPanes('" + @conference.id + "')" %>