<%= header_title 'Unauthorized Access' %>

<div class="container body error-page">
  <div class="main_container">
    <!-- page content -->
    <div class="page-container-responsive">
      <div class="row">
        <div class="col-md-5 col-middle">
          <h1 class="text-jumbo text-ginormous hide-sm error-text-quote">Oops!</h1>
          <h2 class="error-text-quote">You are not allowed to access this this resource.</h2>
          <h6 class="error-text-code">Error code: 403 Access Denied</h6>
          <ul class="list-unstyled">
            <li>Here are some helpful links instead:</li>
            <li><%= link_to 'Home', root_path(anchor: 'main-header'), :'data-no-pjax' => '' %></li>
            <li><%= link_to 'Privacy Policy', privacy_policy_home_index_url %></li>
            <li><%= link_to 'Terms of Use', terms_home_index_url %></li>
            <li><a href="<%= PairConConfig::url[:support] %>">Report this</a></li>
          </ul>
        </div>
        <div class="col-md-5 text-center">
          <% if user_signed_in? %>
            <div class="mid_center">
              <h3>Search</h3>
              <%= render 'layouts/application/search' %>
            </div>
          <% end %>
          <%= image_tag 'errorimage.png', class: 'error-image hidden-sm' %>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>