  <tr>
    <td><%= paper.title %></td>
    <% authors = paper.paper_authors %>

    <% if authors.count != 0 %>
      <td><%= authors.select(:name).distinct.map(&:name) %></td>
    <% else %>
    <td></td>
    <% end %>

    <% if authors.count != 0 %>
      <td><%= authors.select(:affiliation).distinct.map(&:affiliation) %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= paper.year%></td>
    <td><%= paper.keywords%></td>
    <td><%= link_to paper.pdf_file_name, pdf.full_path(file: paper.pdf.url), target: '_blank' %></a></td>
    <% if @is_organizer %>
    <td><%= link_to_modal icon_text('trash', ''), delete_paper_path(paper) %></td>
    <% end %>
  </tr>
