  <tr>
    <td><%= paper.title %></td>
    <td><%= paper.author%></td>
    <td><%= paper.year%></td>
    <td><%= paper.keywords%></td>
    <td><%= link_to paper.pdf_file_name, paper.pdf.url, target: '_blank' %></a></td>
    <% if @is_organizer %>
    <td><%= link_to_modal icon_text('trash', ''), delete_paper_path(paper) %></td>
    <% end %>
  </tr>
