<%= header_title @title %>

<%= form_for :paper, url: paper_path(conference_id: params[:conference_id]), html: {method: :post, id: 'add_paper_form'} do |f| %>
    <div class="modal-header">
      <h1 class="modal-title" id="myModalLabel">
        <i class="fa fa-group" style="margin-right: 5px;"></i>
        <%= @title %>
      </h1>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="font-light" align="center"><%= @body %>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :title, 'Paper Title (*)' %>
            <%= f.text_field :title, placeholder: 'Title of the paper', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :path, 'Paper Upload Path (*)' %>
            <%= f.file_field :file, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer" style="margin-top:-5px;">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <%= f.submit 'Create', :class => 'btn btn-paircon' %>
        </div>
      </div>
    </div>
<% end %>

<%#= javascript_tag 'initializeAddScheduleResource()' %>