<%= header_title @title %>

<%= form_for Paper.new, id: 'add_new_paper' do |f| %>
    <div class="modal-header">
      <h1 class="modal-title" id="myModalLabel">
        <i class="fa fa-group" style="margin-right: 5px;"></i>
        <%= @title %>
      </h1>
    </div>

    <div id="drag-area" class="modal-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="font-light" align="center"><%= @body %>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :title, 'Paper Title (*)' %>
            <%= f.text_field :title, placeholder: 'Title of the paper', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :author, "Paper Authors (Separated by ';')" %>
            <%= f.text_field :author, placeholder: 'Author of the paper', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :affiliation, "Author Affiliation (Separated by ';')" %>
            <%= f.text_field :affiliation, placeholder: 'Author Affiliation', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :email, "Author Email (Separated by ';')" %>
            <%= f.text_field :email, placeholder: 'Author Email', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :abstract, 'Abstract' %>
            <%= f.text_field :abstract, placeholder: 'Paper abstract', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <%= f.label :year, 'Publication year' %>
            <%= f.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="row fileupload-buttonbar text-center">
              <div id="select-button" class="btn btn-paircon light-grey-text fileinput-button">
                <i class="fa fa-upload"></i>
                <span>Select Paper (PDF)</span>
                <%= content_tag :input, '', id: 'fileupload', type: 'file', name: 'fileData', accept: 'application/pdf' %>
              </div>

              <div id="progress" class="progress progress-striped" style="border-radius: 5px; margin-top: 10px; margin-bottom: 10px;">
                <div class="progress-bar bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" id="uploadButton" class="btn btn-paircon disabled" data-dismiss="modal">Upload</button>

    </div>

<% end %>

<%= javascript_tag "initializePaperFileUploader('" + params[:conference_id] + "')" %>




