<!-- https://jsfiddle.net/07ftur1e/9/ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>You have been invited to <%= @conference.get_name %> at Paircon!</title>
</head>

<body>
<div>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td></td>
    </tr>
    </tbody>
  </table>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
          <tbody>
          <tr>
            <td align="center" width="100%">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                <tbody>
                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                <tr>
                  <td align="center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                      <tbody>
                      <tr>
                        <td height="45" align="center" width="169">
                          <div>
                            <a style='color: #34495e; text-decoration: none;' href="<%= conference_url(@conference) %>">
                              <%= image_tag attachments['logo.jpg'].url, style: 'width: 200px; display:block;border:none;outline:none;text-decoration:none;text-align:center;font-size:20px', title: @conference.get_name, alt: @conference.get_name, align: 'middle', border: '0' %>
                            </a>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
          <tbody>
          <tr>
            <td width="100%">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                <tbody>
                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                <tr>
                  <td align="center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                      <tr>
                        <td style="font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; font-size: 30px; color: #3b4741; text-align: center; line-height: 38px; font-weight: 300;" align="center">You
                          have been invited to '<%= @conference.get_name %>' at
                          Paircon!
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>

  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
          <tbody>
          <tr>
            <td width="100%">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                <tbody>
                <tr>
                  <td align="center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                      <% if !@conference.description.nil? and !@conference.description.blank? %>
                          <tr>
                            <td style="font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; font-size: 16px; color: #3b474d; text-align: center; line-height: 38px; font-weight: 300;" align="center">
                              <%= @conference.description %>
                            </td>
                          </tr>
                      <% end %>
                      <% if !@conference.location.nil? and !@conference.location.blank? %>
                          <tr>
                            <td style="font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; font-size: 12px; color: #3b474d; text-align: center; line-height: 38px; font-weight: 300;" align="center">
                              <%= @conference.location %>
                            </td>
                          </tr>
                      <% end %>
                      <tr>
                        <td style="font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; font-size: 12px; color: #3b474d; text-align: center; line-height: 38px; font-weight: 300;" align="center">
                          <%= @conference.start_date_str + ' - ' + @conference.end_date_str %>
                        </td>
                      </tr>


                      <% if !@custom_message.nil? and !@custom_message.blank? %>
                          <tr>
                            <td align="justify" style="padding: 30px;">
                              <img alt="Quotation Marks" src="http://www.clker.com/cliparts/r/L/A/C/5/b/gray-quotation-marks-hi.png" height="10"/>
                              <span style="color:#333333; font-size:11px; font-family:Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; font-weight:300; text-align: justify;"><%= @custom_message %></span>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
          <tbody>
          <tr>
            <td width="100%">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                <tbody>
                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                <tr>
                  <td align="center">
                    <table valign="middle" height="45" align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                      <tbody>
                      <tr>
                        <td height="45" align="center" valign="middle" width="auto">
                          <div><u></u>

                            <table align="center" border="0" cellpadding="10" cellspacing="0" width="auto">
                              <tbody>
                              <tr>
                                <td style="border-radius:4px;color:#ffffff;display:block" height="auto" align="center" bgcolor="#34495e" width="auto">
                                  <a style="color: #34495e; font-size: 20px; font-weight: bold; font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; text-decoration: none; line-height: 40px; width: auto; display: inline-block;" href="<%= conference_url(@conference) %>" target="_blank"><span style="color:#ffffff"><strong style="font-weight:300">Join Conference</strong></span></a>
                                </td>
                              </tr>
                              </tbody>
                            </table>

                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td></td>
    </tr>
    </tbody>
  </table>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
          <tbody>
          <tr>
            <td style="font-size:1px;line-height:1px" height="30" align="center"></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
          <tbody>
          <tr>
            <td width="100%">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                <tbody>
                <tr>
                  <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="auto">
                      <tbody>


                      <tr>
                        <td style="font-size:1px;line-height:1px" height="1" align="center" bgcolor="#d1d1d1" width="550"></td>
                      </tr>
                      <tr>
                        <td style="font-size:1px;line-height:1px" height="15" align="center"></td>
                      </tr>
                      <tr>
                        <td style='font-family: Helvetica, arial, sans-serif; font-size: 10px; color: #b4babd; text-align: justify;' align="center">This
                          message was sent
                          to
                          <a style='color: #34495e; text-decoration: none;' href="mailto:<%= @email %>" target="_blank"><%= @email %></a>.
                          If you
                          are not the intended person, please ignore the message. Additionally, Please do not reply to
                          this email message. It was sent from an
                          unmonitored email address. This message is a service email related to use of Paircon. For
                          general inquiries or to request support, please visit
                          <a style='color: #34495e; text-decoration: none;' href="
                          <%= PairconConfig::url[:support] %>" target="_blank">Paircon Support</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="font-size:1px;line-height:1px" height="20"></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
