<%= header_title 'Approved Organizers' %>

<div id="page-heading">
  <%= page_title 'Approved Organizers' %>
</div>

<div class="clearfix"></div>
<% if @approved_organizers.length == 0 %>
    <%= render 'layouts/application/no_result', body: 'You have no organizer who has been approved.' %>
<% else %>
    <table class="table paircon-table table-condensed table-responsive dataTable">
      <thead>
      <tr role="row">
        <th>User Name</th>
        <th>Email</th>
        <th>User Industry</th>
        <th>User Organization</th>
        <th>Date Approved</th>
      </tr>
      </thead>
      <tbody>
      <% @approved_organizers.each do |organizer| %>
          <tr>
            <td><%= organizer.full_name %></td>
            <td><%= organizer.email %></td>
            <td><%= organizer.industry %></td>
            <td><%= organizer.organization %></td>
            <td><%= organizer.updated_at.strftime(DATEFORMAT) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>


<%= javascript_tag "initializeAdmin(#{@approved_organizers.length})" %>