<%= header_title 'Settings' %>

<div id="page-heading">
  <%= page_title 'Personal Settings' %>
  <hr/>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <h3 id="name">
        <%= @user.full_name %>
        <%= link_to_modal icon_text('pencil', 'Edit'), edit_user_path(@user.id), :class => 'btn btn-sm btn-borderless btn-inactive ' %>
      </h3>

      <div class="profile-image dropzone " data-width="300" data-ghost="false"
           data-canvas="false" data-originalsize="false" data-height="300"
           data-url="/users/<%= current_user.id %>/save_logo" data-image="<%= asset_path(current_user.profile_photo) %>"
           data-removeurl="/users/<%= current_user.id %>/destroy_logo">
        <input class="invisible" id="profile-image-upload" type="file" name="thumb" accept="image/*"/>
      </div>

      <div>
        <button id="upload_image_btn" style="margin-top: 20px; margin-bottom: 20px;" class="btn btn-paircon btn-label btn-profile btn-padding">
          <i class="fa fa-upload"></i> Upload Image
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-responsive pull-left">
          <tbody>
          <tr>
            <td class="profile-title table-accountinfo">Email Address:</td>
            <td class="table-accountinfo"><a href="<%= user_path(@user) %>"><%= @user.email %></a>
            </td>
          </tr>
          <tr>
            <td class="profile-title table-accountinfo">Phone Number:</td>
            <td class="table-accountinfo"><%= @user.phone_number.blank? ? 'N/A' : @user.phone_number %></td>
          </tr>
          <tr>
            <td class="profile-title table-accountinfo">Gender:</td>
            <td class="table-accountinfo"><%= @user.gender == 1 ? "Male" : "Female" %></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Preferences</h3>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>Account</h4>

        <div>
          <%= link_to_modal 'Delete Account', delete_user_path(current_user) %>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>Password</h4>

        <div><%= link_to_modal 'Change Password', password_reset_user_path(current_user) %></div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <h4>Plan</h4>
        <% if !@user.organizer? and !@user.pending_organizer %>
            <div><%= link_to_modal 'Become an Organizer', become_organizer_user_path(@user.id) %></div>
        <% elsif !@user.organizer? and @user.pending_organizer %>
            <div style="opacity: 0.8">Your Organizer Request is Pending</div>
        <% end %>

      </div>
    </div>

  </div>
</div>
</div>

<%= javascript_tag "initializeUserShow(#{@user.gender.to_i})" %>
