<div class="x_panel">
  <div class="x_title">
    <h3>About
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>

    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <% if @is_organizer %>
        <div>
          <%= best_in_place_if @is_organizer, @conference, :description, as: :textarea, place_holder: "&lt;&lt;Conference Description&gt;&gt;" %>
          <hr/>
        </div>
    <% else %>
        <% if @conference.description.length > 250 %>
            <%= truncate(@conference.description, length: 250) %>
            <%= link_to ' ... Read more', '', class: "read-more-description-#{@conference.id}" %>
        <% else %>
            <% unless @conference.description.blank? %>
                <%= @conference.description %>
                <hr/>
            <% end %>
        <% end %>
    <% end %>

    <div class="text-center">
      <h3 class="navy-background light-grey-text">[<%= @interested_count %>] Interested</h3>
    </div>
    <br/>

    <% if (!@conference.start_date.blank? and !@conference.end_date.blank?) %>
        <strong>Event Date:</strong>

        <% if @is_organizer %>
            <div class="input-prepend input-group">
              <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
              <input name="reservation-time" id="reservation-time" class="form-control" type="text">
            </div>
        <% else %>
            <div class="text-center">
              <%= @conference.start_date_str + ' - ' + @conference.end_date_str %>
            </div>
        <% end %>
        <br/>
    <% end %>

    <% if !@conference.location.blank? or @is_organizer %>
        <div>
          <strong>Location:</strong> <%= best_in_place_if @is_organizer, @conference, :location, place_holder: "&lt;&lt;Address&gt;&gt;", inner_class: 'address', id: 'address-in-place' %>
        </div>
        <br/>
    <% end %>

    <% if !@conference.url.blank? or @is_organizer %>
        <div>
          <strong>Website:</strong> <%= best_in_place_if @is_organizer, @conference, :url, place_holder: "&lt;&lt;Website URL&gt;&gt;" %>
        </div>
    <% end %>

    <% if !@conference.phone.blank? or @is_organizer %>
        <div>
          <strong>Phone:</strong> <%= best_in_place_if @is_organizer, @conference, :phone, place_holder: "&lt;&lt;Contact Phone&gt;&gt;", id: 'phone-number' %>
        </div>
    <% end %>

    <% if !@conference.email.blank? or @is_organizer %>
        <div>
          <strong>Email Address:</strong> <%= best_in_place_if @is_organizer, @conference, :email, place_holder: "&lt;&lt;Contact Email&gt;&gt;" %>
        </div>
    <% end %>

    <% if @conference.publish %>
        <br/>
        <div class="text-center">
          <%= link_to_modal 'Invite People', invite_conference_path() %>
        </div>
    <% end %>
  </div>
</div>

