<% partial_view = params[:view].blank? %>

<div class="<%= 'x_panel' if partial_view %>">
  <div class="<%= 'x_title' if partial_view %>">
    <h3 style="<%= 'font-size: 36px;' unless partial_view %>">Papers
      <ul class="nav navbar-right panel_toolbox">
        <% if @is_organizer %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus <%= 'btn btn-paircon' unless partial_view %>"></i></a>
              <ul class="dropdown-menu" role="menu">
                <!-- TODO: Add csv upload link -->
                <li><%= link_to_modal 'Add Paper', new_paper_path(conference_id: @conference.id) %></li>
              </ul>
            </li>
        <% end %>
        <% if partial_view %>
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        <% end %>
      </ul>
    </h3>
    <% unless partial_view %>
        <hr/>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <div class="<%= 'x_content' if partial_view %>">
    <% if @conference.papers.length == 0 %>
        <%= render 'layouts/application/no_result', body: @conference.get_name + ' is yet to post post any papers ... Add some papers to make this view available to Attendees.' %>
    <% else %>
        <table id="datatable-papers" class="table paircon-table table-condensed table-responsive dataTable">
          <thead>
          <tr>
            <th width="10px;" class="no-sort"></th>
            <th>Title</th>
            <th width="60%">Abstract</th>
            <th width="100px;">Year</th>
            <% if @is_organizer %>
                <th width="10px;" class="no-sort"></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <%= render @conference.papers, is_owner: @is_organizer %>
          </tbody>
        </table>
    <% end %>

  </div>
</div>

<%= javascript_tag "initializePapersView(#{@is_organizer})" %>

