<% if @is_organizer or (!@is_organizer and @total_resources != 0 and @total_events != 0) %>
    <div class="x_panel top-buffer">
      <div class="x_title">
        <h3>Schedule
          <ul class="nav navbar-right panel_toolbox">
            <% if @is_organizer %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Upload New Schedule CSV</a></li>
                    <li><a href="#">Add Single Event</a></li>
                    <!--<li>-->
                      <!--<%#= link_to_modal 'Add Multiple Events / Papers', bulk_upload_conference_path(conference_id: @conference.id) %>-->
                    <!--</li>-->
                    <!--<hr style="margin-top: 5px; margin-bottom: 5px;"/>-->
                    <!--<li><%#= link_to_modal 'Add Auditorium', new_resource_schedules_path(conference_id: @conference.id, view: 'auditorium') %></li>-->
                    <!--<li><%#= link_to_modal 'Add Room', new_resource_schedules_path(conference_id: @conference.id, view: 'room') %></li>-->
                    <!--<li><%#= link_to_modal 'Add Event', new_event_schedules_path(conference_id: @conference.id) %></li>-->
                  </ul>
                </li>
            <% end %>
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          </ul>
        </h3>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-striped">
        <!--<table class="datatable-schedule table table-striped">-->
          <% $days = %w(Monday Tuesday Wednesday Thursday Friday) %>    <%# Make these dynamic. Should be days of conference%>
          <% $days.each do |day| %>
          <thead>
          <tr>
            <th><%=day%></th>
            <% $areas = %w(Location1 Location2 Location3 Location4 Location5) %>    <%# Make these dynamic. Should be areas of conference%>
            <% $areas.each do |area| %>
            <th><%=area%></th>
            <% end %>
          </tr>
          </thead>
            <% $timeslots = %w(08:30–09:30 09:30-10:30 10:30-13:00 13:00-15:00 15:00-18:00) %>
            <% $timeslots.each do |timeslot| %>
            <tbody>
                <tr>
                  <th scope="row"><%= timeslot %></th>
                  <% $i = 1 %>
                  <% until $i > $areas.length do %>
                    <td><a href="#"><%= "Topic #{$i}" %></a></td>
                  <% $i +=1; %>
                  <% end %>
                </tr>

            <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>

<% end %>

<div class="x_panel">
  <div class="x_title">
    <h3>Detailed Schedule
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
    </h3>
    <div class="clearfix"></div>
  </div>

  <div class="x_content">
    <div class="panel-group" id="accordion">
    <%$first = true%>
    <%$topics = %w(Topic1 Topic2 Topic3 Topic4 Topic5)%>
    <%$days.each do |day|%>
        <%$topics.each do |topic|%>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= "#{day}#{topic}" %>"><b><%= "#{day}: " %></b><%= "#{topic}" %></a>
                  </h3>
                </div>
                <%if $first == true%> <%# default show first accordion panel open%>
                  <div id="<%= "#{day}#{topic}" %>" class="panel-collapse collapse in">
                  <% $first = false%>
                <%else%>
                  <div id="<%= "#{day}#{topic}" %>" class="panel-collapse collapse">
                <%end%>
                  <div class="panel-body">
                    <h4><b>Location: </b>General Location</h4>
                    <h4><b>Time: </b>Start Time - End Time</h4>
                    <%$c = 1%>
                    <%$num = 7%>
                    <% until $c > $num do %>
                        <p>
                          <b><a href="#">Paper Title <%= "#{$c}" %> </a></b> ||
                          Author Names <i> Author Institutions </i> ||
                          <a href="#"> Abstract </a> ||
                          Specific Location
                        </p>
                      <%$c += 1%>
                    <%end%>
                  </div>
                </div>
              </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
