<%= header_title @title %>

<%= form_for :resource, url: create_resource_schedules_path(conference_id: params[:conference_id], view: params[:view]), html: {method: :post, id: 'add_resource_form'} do |f| %>
    <div class="modal-header">
      <h1 class="modal-title" id="myModalLabel">
        <i class="fa fa-group" style="margin-right: 5px;"></i>
        <%= @title %>
      </h1>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="font-light" align="center"><%= @body %>
          </h4>
        </div>
      </div>

      <% if params[:view] == ConferenceResource::TYPE[:auditorium] %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :title, 'Auditorium Name (*)' %>
                <%= f.text_field :title, placeholder: 'Name of Auditorium', class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :building, 'Building Name' %>
                <%= f.select :building, @buildings, {}, id: 'conference_build_select', class: 'select' %>
                <%= f.text_field :building_other, placeholder: 'Name of Building', 'data-depends-on': '#conference_build_select', 'data-depends-on-value': 'Other', class: 'form-control' %>
              </div>
            </div>
          </div>
      <% else %>
          <% if @auditoriums.blank? %>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="font-light" align="center">
                    <strong>Please create an Auditorium before adding a room.</strong>
                  </h4>
                </div>
              </div>

          <% else %>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :title, 'Room Name (*)' %>
                    <%= f.text_field :title, placeholder: 'Name of Room', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :parent_id, 'Auditorium Name (*)' %>
                    <%= f.select :parent_id, @auditoriums, {}, id: 'conference_build_select', class: 'select' %>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>

    <div class="modal-footer" style="margin-top:-5px;">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <% unless params[:view] == ConferenceResource::TYPE[:room] and @auditoriums.blank? %>
              <% if !is_mobile_device? %>
                <span style="float: left !important; margin-top: 5px;">
                  <small>Note: (*) This is a required field.
                  </small>
                </span>
              <% end %>
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              <%= f.submit 'Create', :class => 'btn btn-paircon' %>
          <% else %>
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<%= javascript_tag 'initializeAddScheduleResource()' %>