<%= header_title @title %>

<%= form_for :resource, url: create_resource_schedules_path(conference_id: params[:conference_id], view: params[:view]), html: {method: :post, id: 'add_resource_form'} do |f| %>
    <div class="modal-header">
      <h1 class="modal-title" id="myModalLabel">
        <i class="fa fa-group" style="margin-right: 5px;"></i>
        <%= @title %>
      </h1>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="font-light" align="center"><%= @body %>
          </h4>
        </div>
      </div>

      <% if params[:view] == ConferenceResource::TYPE[:event] %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :title, 'Event Title (*)' %>
                <%= f.text_field :title, placeholder: 'Event Title', class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :building, 'Building Name' %>
                <%= f.select :building, @buildings, {}, id: 'conference_build_select', class: 'select' %>
                <%= f.text_field :building_other, placeholder: 'Name of Building', 'data-depends-on': '#conference_build_select', 'data-depends-on-value': 'Other', class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :date, 'Event Date (*)' %>
                <%= f.date_select :date, placeholder: Date.today , class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :start_time, 'Event Start Time (*)' %>
                <%= f.time_select :start_time , class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <%= f.label :end_time, 'Event End Time (*)' %>
                <%= f.time_select :end_time, class: 'form-control' %>
              </div>
            </div>
          </div>

      <% else %>
          <% if @events.blank? %>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="font-light" align="center">
                    <strong>Please create an Event before adding a session.</strong>
                  </h4>
                </div>
              </div>

          <% else %>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :title, 'Session Tittle (*)' %>
                    <%= f.text_field :title, placeholder: 'Session Tittle', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :parent_id, 'Event (*)' %>
                    <%= f.select :parent_id, @events, {}, id: 'conference_build_select', class: 'select' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :start_time, 'Session Start Time (*)' %>
                    <%= f.time_select :start_time , class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :end_time, 'Session End Time (*)' %>
                    <%= f.time_select :end_time, class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :presenter, 'Presenter Name (*)' %>
                    <%= f.text_field :presenter, placeholder: 'Presenter Name', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :event_type, 'Event type (*)' %>
                    <%=  f.select :event_type, ConferenceEvent.event_types.map { |k, v| [k.humanize, v] } %>
                  </div>
                </div>
              </div>

              <% if @papers.blank? %>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="font-light" align="center">
                        <strong>Please add a Paper before adding an session.</strong>
                      </h4>
                    </div>
                  </div>

              <% else %>

                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <%= f.label :paper_id, 'Paper (*)' %>
                        <%= f.select :paper_id, @papers, {}, id: 'conference_paper_select', class: 'select' %>
                      </div>
                    </div>
                  </div>
              <% end %>


    <% end %>
      <% end %>
    </div>

    <div class="modal-footer" style="margin-top:-5px;">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <% unless params[:view] == ConferenceResource::TYPE[:session] and @events.blank? %>
              <% if !is_mobile_device? %>
                <span style="float: left !important; margin-top: 5px;">
                  <small>Note: (*) This is a required field.
                  </small>
                </span>
              <% end %>
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              <%= f.submit 'Create', :class => 'btn btn-paircon' %>
          <% else %>
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<%= javascript_tag 'initializeAddScheduleResource()' %>