<head>
  <meta http-equiv="x-pjax-version" content="v123">
  <title><%= @page_title %> - PairCon</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="PairCon">
  <meta name="author" content="PairCon">
  <META Http-Equiv="Cache-Control" Content="no-cache"/>
  <META Http-Equiv="Pragma" Content="no-cache"/>
  <META Http-Equiv="Expires" Content="0"/>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'home-layout', media: 'all' %>
  <%= javascript_include_tag 'home-layout' %>

  <%= locale_setting_js() %>
  <%= time_zone_setting_js() %>

</head>