<head>
  <meta http-equiv="x-pjax-version" content="v123">
  <title><%= @page_title %> - PairCon</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="PairCon">
  <meta name="author" content="PairCon">
  <META Http-Equiv="Cache-Control" Content="no-cache"/>
  <META Http-Equiv="Pragma" Content="no-cache"/>
  <META Http-Equiv="Expires" Content="0"/>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'home-layout', media: 'all' %>
  <%= javascript_include_tag 'home-layout' %>

  <%= locale_setting_js() %>
  <%= time_zone_setting_js() %>

  <!-- header navbar-->
  <div id="main-header">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pair<span class="logo-dec">Con</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#main-header">Home</a></li>
            <li class=""><a data-no-pjax href="#service">Features</a></li>
            <li class=""><a data-no-pjax href="#about">About Us</a></li>
            <li class=""><a data-no-pjax href="#login">Login</a></li>
            <li class=""><a data-no-pjax href="#blog">Blog</a></li>
            <li class=""><a data-no-pjax href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</head>